In [1]:
import pandas as pd
import numpy as np

In [19]:
data = [23,5,23,42,4]
s1 = pd.Series(data)
print(f"The series is :\n{s1}")
print(s1[3])

# Series syntax is Series(array , indexing)
print("The result of the student is : ")
studentName = ["Ram" , "Xyz" , "Hello" , "Balram"] # This is the custom index created 
marks = [99,98,89,70] 
result = pd.Series(marks , studentName)
print(result)
print(f"The marks of \"Ram\" are : {result["Ram"]}") # accessing the series using custom index created

The series is :
0    23
1     5
2    23
3    42
4     4
dtype: int64
42
The result of the student is :
Ram       99
Xyz       98
Hello     89
Balram    70
dtype: int64
The marks of "Ram" are : 99

In [23]:
# create a series using nd array 
numArray = np.array([23,6,52,6,5224])
s2 = pd.Series(numArray , index=[1,2,3,4,5])
print(s2)

1      23
2       6
3      52
4       6
5    5224
dtype: int64

## DataFrame

In [24]:
df1 = pd.DataFrame([23,6,4,6,5,4])
print(df1)

    0
0  23
1   6
2   4
3   6
4   5
5   4

In [27]:
df2 = pd.DataFrame([[23,65,24,24,4] , [45,34,5,43,55]])
print(df2)

    0   1   2   3   4
0  23  65  24  24   4
1  45  34   5  43  55

In [29]:
# using columns method to see the total columns
df3 = pd.DataFrame([{"Name":"Person1" , "Age":34} , {"Name":"Person2" , "Age":56}])
print(df3)
print(f"The Name of the columns are : {df3.columns}")

      Name  Age
0  Person1   34
1  Person2   56
The Name of the columns are : Index(['Name', 'Age'], dtype='object')

In [30]:
# creating a empty dataframe
dataFrame1 = pd.DataFrame()
print(dataFrame1)

Empty DataFrame
Columns: []
Index: []

In [31]:
dataFrame2 = pd.DataFrame([25,32,24,4,2])
print(dataFrame2)

    0
0  25
1  32
2  24
3   4
4   2

In [6]:
# Creating Dataframe by giving column names
demoData = [['stud1' , 10] , ['stud2' , 20] , ['stud3' , 30]]
df4 = pd.DataFrame(demoData , columns = ['Name' , 'Age'])
print(df4)

    Name  Age
0  stud1   10
1  stud2   20
2  stud3   30

In [7]:
# Reading the csv file
df5 = pd.read_csv("Salary_Data.csv")
print(df5)

    YearsExperience  Salary  Expences
0               1.1   39343     29343
1               1.3   46205     36205
2               1.5   37731     27731
3               2.0   43525     33525
4               2.2   39891     29891
5               2.9   56642     46642
6               3.0   60150     50150
7               3.2   54445     44445
8               3.2   64445     54445
9               3.7   57189     47189
10              3.9   63218     53218
11              4.0   55794     45794
12              4.0   56957     46957
13              4.1   57081     47081
14              4.5   61111     51111
15              4.9   67938     57938
16              5.1   66029     56029
17              5.3   83088     73088
18              5.9   81363     71363
19              6.0   93940     83940
20              6.8   91738     81738
21              7.1   98273     88273
22              7.9  101302     91302
23              8.2  113812    103812
24              8.7  109431     99431
25              9.0  105582     95582
26              9.5  116969    106969
27              9.6  112635    102635
28             10.3  122391    112391
29             10.5  121872    111872
30             11.0  140000    110000
31             12.0  155000    115000
32             13.0  156000    126000

In [ ]:
# Performing th operations on the csv files 
df6 = pd.read_csv('50_Startups.csv')
print(f"The first 5 records are : \n{df6.head()}") # returns the first five elements
print()
print(f"The last five records are : \n {df6.tail()}") # returns the last five elements

The first 5 records are :
         RnD  Administration  Marketing       State     Profit
0  165349.20       136897.80  471784.10    New York  192261.83
1  162597.70       151377.59  443898.53  California  191792.06
2  153441.51       101145.55  407934.54     Florida  191050.39
3  144372.41       118671.85  383199.62    New York  182901.99
4  142107.34        91391.77  366168.42     Florida  166187.94

The last five records are :
         RnD  Administration  Marketing       State    Profit
45  1000.23       124153.04    1903.93    New York  64926.08
46  1315.46       115816.21  297114.46     Florida  49490.75
47     0.00       135426.92       0.00  California  42559.73
48   542.05        51743.15       0.00    New York  35673.41
49     0.00       116983.80   45173.06  California  14681.40

In [11]:
print(f"The information about the csv file is : {df6.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RnD             50 non-null     float64
 1   Administration  50 non-null     float64
 2   Marketing       50 non-null     float64
 3   State           50 non-null     object
 4   Profit          50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
The information about the csv file is : None

In [12]:
print(df6.columns)

Index(['RnD', 'Administration', 'Marketing', 'State', 'Profit'], dtype='object')

In [ ]:
new_columns = df6.drop('RnD' , axis=1) # used to drop columns 
print(new_columns.columns)

Index(['Administration', 'Marketing', 'State', 'Profit'], dtype='object')

In [16]:
print(df6.columns)

Index(['RnD', 'Administration', 'Marketing', 'State', 'Profit'], dtype='object')

In [ ]:
new_columns2 = df6.drop(['RnD' , 'Marketing' , 'Administration'] , axis = 1) # helps to drop the multiple columns
print(new_columns2.columns)

Index(['State', 'Profit'], dtype='object')